---
pagination:
  data: dogs
  size: 1
  alias: dog
permalink: "/chiens/{{ dog.id }}/"
layout: base.njk
eleventyComputed:
  title: "{{ dog.name }}"
  year: 2024
  dogImage: "{{ dog | getFeaturedPhoto }}"
---

<article class="dog-detail">
  <div class="dog-detail__container">
    <a href="/" class="dog-detail__back">← Retour</a>

    <div class="dog-detail__content">
      <div class="dog-detail__main">
        <figure class="dog-detail__figure">
          <figcaption class="dog-detail__info">
            <h1 class="dog-detail__name">{{ dog.name }}</h1>
            {% set metaParts = [] %}
            {% if dog.owner %}
              {% set hasMultiple = '&' in dog.owner.name %}
              {% set ownerText = (('👥' if hasMultiple else '👤') + ' ' + dog.owner.name) %}
              {% set _ = metaParts.push(ownerText) %}
            {% endif %}
            {% if dog.breed or dog.sex %}
              {% set breedSexParts = [] %}
              {% if dog.breed %}{% set _ = breedSexParts.push(dog.breed) %}{% endif %}
              {% if dog.sex %}{% set _ = breedSexParts.push('mâle' if dog.sex === 'male' else 'femelle') %}{% endif %}
              {% set _ = metaParts.push(breedSexParts.join(' ')) %}
            {% endif %}
            <p class="dog-detail__meta">{{ metaParts.join('. ') }}</p>
          </figcaption>
          <img
            src="{{ dog | getFeaturedPhoto }}"
            alt="{{ dog.name }}"
            class="dog-detail__image"
          >
        </figure>
      </div>

      {% if dog.photos.length > 0 %}
      <aside class="dog-detail__sidebar">
        <div class="dog-gallery">
          <div class="dog-gallery__grid">
            {% for photo in dog.photos %}
              {% if photo.type === 'photo' and photo.file %}
              <button class="dog-gallery__item" data-image="{{ photo.file.url | imageUrl }}" data-alt="{{ photo.name or dog.name }}">
                <img
                  src="{{ photo.file.url | imageUrl }}"
                  alt="{{ photo.name or dog.name }}"
                  class="dog-gallery__image"
                  loading="lazy"
                >
              </button>
              {% elif photo.type === 'video' and photo.videoUrl %}
              <div class="dog-gallery__item dog-gallery__item--video">
                <a href="{{ photo.videoUrl }}" target="_blank" class="dog-gallery__video-link">
                  📹 Vidéo
                </a>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </aside>
      {% endif %}
    </div>
  </div>
</article>

<dialog id="lightbox" class="lightbox">
  <button class="lightbox__close" aria-label="Fermer">&times;</button>
  <img src="" alt="" class="lightbox__image">
</dialog>
